.frame1{	width: 480px;	height: 524px;	position: absolute;	left: 50%;	top: 37%;}
.content input[type=text]{	width: 420px;	height: 50px;	border-radius: 5px;	font-size: 24px;	color: #aaa;
	background: url(/static/img/rg_imgs/账号管理.png) no-repeat;	background-size: 45px;	background-position-x: 2px;
	background-position-y: 3px;	padding-left: 60px;	font-family: "仿宋";	border: 1px solid #AAAAAA;
}
.content input[type=password]{width: 420px;height: 50px;top: 105px;position: absolute;border-radius: 5px;
	background: url(/static/img/rg_imgs/密码.png) no-repeat;background-size: 45px;background-position-x: 2px;
	background-position-y: 3px;padding-left: 60px;font-size: 24px;color: #aaa;font-family: "仿宋";
	z-index: 2;border: 1px solid #AAAAAA;}
.content1 input[type=text]{	width: 420px;height: 50px;top: 105px;	position: absolute;border-radius: 5px;	padding-left: 60px;
	border: 1px solid #AAAAAA;	font-size: 24px;color: #aaa;	font-family: "仿宋";}
.content input[type=submit]{	position: absolute;	top: 320px;	width: 480px;	height: 60px;	border-radius: 5px;
	color: #fff;	background-color: #3487ff;	border: 1px solid #3487FF;	font-size: 24px;}
.content2 input[type=text]{	width: 100px;	height: 50px;	position: absolute;	border-radius: 5px;	top: 210px;
	padding-right: 40px;	font-size: 24px;	color: #aaa;	border: 1px solid #AAAAAA;	padding-left: 10px;}
.content3 input[type=text]{	width: 300px;	height: 50px;	position: absolute;	border-radius: 5px;	border: 1px solid #AAAAAA;
	top: 210px;	left: 170px;	font-size: 24px;	color: #aaa;	padding-left: 10px;	font-family: "仿宋";}
.list{	position: absolute;	width: 35px;	height: 35px;	top: 210px;	left: 110px;margin-top:10px;}
.areaCode{	width: 482px;	height: 165px;	position: absolute;	top: 266px;	border-radius: 5px;
	border: 1px solid #aaa;	z-index: 2;	font-family: "宋体";	background-color: #fff;}
.readtreaty{width: 480px;height: 20px;position: absolute;top: 430px;font-size: 15px;padding-left: 40px;color: #aaa;}
.gird{	width: 20px;height: 20px;border: 1px solid;position: absolute;	margin-left: -40px;	margin-top: -4px;
	z-index: 3;	-webkit-user-select: none;}

.info{	width: 400px;	height: 200px;	border: 1px solid orange;	position: absolute;	left: 50%;	top: 50%;
	margin-left: -200px;	margin-top: -100px;	border-radius: 5px;	background-color: white;	z-index: 2;
	display: none;}
.fog{	width: 100%;	height: 100%;	background: #aaa;	position: absolute;	opacity: 0.2;	display: none;}
.success{	width: 400px;	height: 200px;	border: 1px solid #000000;	position: absolute;	left: 50%;	top: 50%;
	margin-left: -200px;	margin-top: -100px;	border-radius: 5px;	background-color: white;	z-index: 2;	display: none;}
.head a{	font-size: 16px;color: #999999;	position: absolute;	cursor: pointer;	text-decoration: none;}
.logo{	position: absolute;	top: 35px;	left: 50px;	width: 220px;	height: 80px;	z-index: 10000;}
body{	overflow-y: hidden;}
.head{	width: 45%;	position: absolute;	height: 50px;	left: 55%;	top: 25px;}